body{
  text-align:center;
  background-color:#cccccc;
}

.bulletWrapper{
    
     width:200px;
    margin:0 auto;
    text-align:left;
}

.bulletWrapper{
  
    width:200px;
    margin:0 auto;
    text-align:left;
}

.bulletWrapper{
  
    width:200px;
    margin:0 auto;
    text-align:left;
}
